html, body {
    width: 100%;
    height: 100%;
    background-color: #1d003d;
    color: #fff;
}

body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

div {
    grid-column: 2;
    text-align: center;
    background-color: #3d205d;
    max-height: 3em;
    max-width: 50em;
}

div > p {
    text-align: center;

}