<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>{{ title }}</h1>
    <h2 title="We do NOT condone to stealing identity">Where you can be who you want to be</h2>
    <nav>
        <a href="/" class="Navigation">Home</a>
        <a href="/shop" class="Navigation">Shop</a>
        <a href="/about" class="Navigation">About us</a>
        <a href="/contacts" class="Navigation">Contacts</a>
    </nav>
</body>

</html>